---
const { item } = Astro.props;
---

<div
    class="flex md:flex-row flex-col p-4 md:divide-x-2 md:divide-y-0 divide-y divide-orange-700"
>
    <div
        class="flex flex-none flex-col p-4 md:w-64 text-center justify-center items-center"
    >
        <h3 class="text-xl">{item.company}</h3>
        <p class="text-md pb-8 text-slate-600">{item.position}</p>

        <p>{item.city}</p>
        <p>{item.state}, {item.country}</p>

        <p class="text-sm text-slate-400 italic">{item.period}</p>
    </div>
    <div class="flex flex-col p-6 justify-center">
        <h4 class="pb-4 text-lg">{item.description}</h4>
        <ul class="list-disc list-inside">
            {item.details.map((detail) => <li class="pb-4">{detail}</li>)}
        </ul>
    </div>
</div>
